.root {
    display: grid;
    padding: 2.5rem 3rem;
    row-gap: 2rem;
}

.title {
    justify-self: center;
    font-family: var(--venia-global-fontFamily-serif);
    font-weight: var(--venia-global-fontWeight-bold);
}

.list {
    justify-self: center;
    margin: 15px auto;
    text-align: center;
}
